net/tayga does not correctly handle RFC8215 Local Use Prefixes

**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
- [x] I have searched the existing issues, open and closed, and I'm convinced that mine is new.
- [x] The title contains the plugin to which this issue belongs

**Describe the bug**

RFC 8215 (2017) created a well-known local use prefix space (64:ff9b:1::/48). The original well-known space was 64:ff9b::/96 (RFC 6052), and that prefix space has many restrictions on use - most notably, translators shall not translate non-public IPv4 subnets, including RFC1918, the documentation space, and other reserved prefixes. These restrictions do not apply to the well-known local use prefix space. 

Tayga internally compares the first 32 bits of the prefix to 0x0064ff9b in several places when deciding to apply the RFC 6052 non-public restriction. It does not check the remaining bits. This results in several failures:
- When validating the configuration file, a prefix which starts with 64:ff9b:: but without 64 bits of zeros is rejected and the program terminates. This rejects any local-use prefix immediately.
- When generating Tayga's own address (for ICMP sourcing) from its IPv4 address and prefix, if the first 32 bits of the prefix are 64:ff9b:: and an additional IPv6 address is not supplied, the program terminates as a self-generated address would be a private address.
- When translating packets, only the first 32 bits are compared to 64:ff9b, the remaining bits are not checked for zero.

Separately from this, it's rather irritating that Tayga hardcodes this restriction on the well-known prefix without an option to disable it, when working with demonstration / testing networks. I would support removing the restriction entirely (and replacing it with a documentation note on RFC 6052 compliance) instead of reworking the checks to properly handle the local use prefixes.

I'm aware that this isn't a problem with OPNsense directly (rather Tayga), but as Tayga hasn't been maintained for around a decade, I'd like to contribute a fix for this. However, I'm not sure where the best place is to contribute this is - FreeBSD and major Linux distros are independently maintaining their own patch sets for Tayga at this point, and this issue affects all of them. I'm also not very familiar with FreeBSD development, but I've tested a patch on Debian. 

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Services->Tayga'
2. Enter any /96 prefix within the 64:ff9b:1::/48 space in the 'IPv6 Prefix' box
3. Apply changes
4. Tayga fails to start

**Expected behavior**
Tayga accepts the prefix and translates packets

**Screenshots**
N/A

**Relevant log files**
N/A

**Additional context**
N/A

**Environment**
OPNsense 24.1.9_4-amd64




This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.
