dns/ddclient: IPv6 address parsing bug for short addresses

**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
- [x] I have searched the existing issues, open and closed, and I'm convinced that mine is new.
- [x] The title contains the plugin to which this issue belongs

**Describe the bug**
I found that there is a bug in `checkip` script when retrieving the public IPv6 address for an interface via external service in order to push it to a Dynamic DNS provider.
The bug only manifests when the IPv6 address assigned by the provider (or chosen using the delegated prefix) is consisting of only a few blocks, e.g. xxxx:xxxx:xx::xxxx. This IPv6 address is (to my understanding) valid in structure, but consists only of a few blocks and requires only 4 colon characters.

When `checkip` script receives such an IPv6 address from any IPv6 check service, such as "ip6only.me" it discards it and returns `None` as a result, that is, because it expects the IPv6 address to consist of *more than* 4 colon characters. Imho this is incorrect since valid IPv6 addresses can be as short as consisting only of two colon characters, such as localhost `::1` is also a valid IPv6 address according to [RFC-4291 Section 2.2](https://www.rfc-editor.org/rfc/rfc4291.html#section-2.2).

Current OPNsense version: 22.7.9_3
Current ddclient plugin version: 1.9_1
Last working ddclient plugin version: - (did not work before to my knowledge)

**To Reproduce**
Steps to reproduce the behavior:
1. Install `os-ddclient` in the most recent cersion 1.9_1
2. Configure any Dynamic DNS service and choose any of the IPv6 services in order to retrieve an interface's IPv6 address
3. Choose an interface to which uses an IPv6 address with 4 or less colons in it.
4. Apply the changes and observe the logs.
5. See in logs that the plugin was unable to determine the IP address, but when I run `curl` which is used by `checkip` under the hood, with the exact same parameters as `checkip` would I get a proper IPv6 address, which is why I conclude that the bug is in the `checkip` script, and not related to any networking setup.

**Expected behavior**
`checkip` script should accept short IPv6 addresses with as few as two colon characters in them as valid.

**Screenshots**
Here is a screenshot of my config:
![image](https://user-images.githubusercontent.com/13207642/207233463-af120b91-df30-4153-9778-be6ae01c548c.png)


**Relevant log files**
```
2022-12-13T06:01:31	Notice	ddclient[40574]	48387 - [meta sequenceId="4"] WARNING: unable to determine IP address	
2022-12-13T06:01:31	Notice	ddclient[40574]	47445 - [meta sequenceId="3"] WARNING: found neither ipv4 nor ipv6 address	
```

**Additional context**
I created a PullRequest which should imho fix the issue in the script, please have a look at it: #3217 

**Environment**

OPNsense 22.7.9_3-amd64
FreeBSD 13.1-RELEASE-p5
OpenSSL 1.1.1s 1 Nov 2022
